.task-container {
  margin: 0 auto;
}

.task-list {
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  height: 80vh;
  // min-width: 525px;
}

.task-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list-count {
  margin-right: 0.5rem;
}

.is-loading {
  opacity: 0.5;
  pointer-events: none;
}
