.task-list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.task-item-dates {
  padding: 1rem;

  p {
    text-align: right;
    font-size: 0.75rem;
  }
}
