.home-container {
  height: 100%;
}

.home-login {
  width: 40%;
  margin: 0 auto;

  .brand {
    width: 50%;
    margin: 0 auto 2rem auto;
  }

  .login-card {
    width: 50%;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
  }
}
