.home-container {
  height: 100%;
  overflow-y: scroll;
}

.home-content {
  min-width: 525px;
  margin: 0 auto;
  position: relative;

  .brand {
    width: 80%;
    margin: 0 auto 2rem auto;
  }

  .home-content-card {
    width: 100%;
    margin: 0 auto 5rem auto;
  }

  h2 {
    text-align: center;
  }
}

.scrum-board-graphic {
  position: absolute;
  bottom: 0;
  left: 0;
}

.completed-tasks-graphic {
  position: absolute;
  bottom: 0;
  right: 0;
}
