.task-list {
  background: #f5f5f5;
  border-radius: 10px;
  margin: 1rem;
}

.task-list-item-droppable {
  margin-top: 1rem;
  height: 90%;
  padding-bottom: 1rem;
  overflow-y: scroll;

  > div {
    height: 100%;
  }

  .placeholder {
    height: 100%;
    width: 100%;
  }
}
