.clear-filter-input {
  pointer-events: initial !important;
  cursor: pointer;
  background: none;
  border: none;
  margin: 3px 0;
}

.clear-filter-input {
  &:hover,
  &:focus-visible {
    color: black !important;
  }
}
